# Pin versions that work locally
shap==0.42.0
scikit-learn==1.6.1

# Core ML package
mlmarker

# Web app
streamlit>=1.35
plotly

# Additional functionality
gprofiler-official
bioservices
openpyxl
matplotlib-venn
altair<5
