# Core ML package (brings its own numpy, scikit-learn, shap, pandas, etc.)
mlmarker

# Web app
streamlit>=1.35
plotly

# Additional functionality not in mlmarker
gprofiler-official
bioservices
openpyxl
matplotlib-venn
altair<5

plotly
openpyxl
wheel==0.44.0